/t[1-9].py
/test_fetch_thingy.html
/lib/
/templates/
/user_feedback/
/.idea/
/db.sqlite
/db.sqlite-journal
__pycache__
/Stocks of Razbia.spec
/dummy.py
/build/
/dist/
venv
/config_server/static/static/scss/