{% extends 'base.html' %}
{% from 'macros/forms.html' import render_field_list %}

{% block body %}
	<div class="container">
        <div class="my-dark">
            <form method="post">
{#                {% for form in form_list.items %}#}
{#                    <div class="input-group mb-1 dropdown dropdown-dark">{{ render_field(form.alias) }} {{ render_field(form.command) }} {{ render_field(form.group) }}</div>#}
                    <div>{{ render_field_list(form_list.items, 'Add an alias', 'Delete an alias') }}</div>
{#                {% endfor %}#}

                <input type="submit" value="Save" class="btn btn-outline-success my-1">
            </form>
        </div>

{#        <div>#}
{#            <form action="/customizations/command_names/add_alias" method="get">#}
{#                <input type="submit" value="Add an alias" class="btn btn-outline-primary my-1">#}
{#            </form>#}
{#        </div>#}

        <div>
            <form action="/customizations/command_names/restore_default">
                <input type="submit" value="Restore default" class="btn btn-outline-info my-1">
            </form>
        </div>

        <div id="help_stuff">
{#            <button class="btn btn-outline-light" onclick="generateHelp()">Help</button>#}
        </div>

        <script>
            function generateHelp(){
                let res = "\
                Alias = An alternative name for the command.<br>\
                Command = Command which runs whenever the alias appears.<br>\
                Accessible from group = Where the Alias starts at. [root = no group]<br>\
                Example: If you set the Alias as [pineapple] for the command [shares] in the [root] group, when the player\
                 writes [!pineapple] in chat, the bot will run the [shares] command.<br> \
                 \{#<span style=\"color: #1e84de\">Note</span>: to <span style=\"color: #803232\">delete</span> an alias, just rename it to \"<span style=\"color: orange\">none</span>\" then <span style=\"color: green\">save</span>.<br>\#}
                 <button class=\"btn btn-outline-warning my-1\" onclick=\"closeHelp()\">close</button>"
                res = res.replace(/Alias/g, '<span style="color: #31e05a">Alias</span>')
                res = res.replace(/alias/g, '<span style="color: #31e05a">alias</span>')
                res = res.replace(/Command/g, '<span style="color: #5587f2">Command</span>')
                res = res.replace(/command/g, '<span style="color: #5587f2">command</span>')
                res = res.replace(/group/g, '<span style="color: #edde2b">group</span>')
                res = res.replace(/pineapple/g, '<span style="color: #7accaf">pineapple</span>')
                res = res.replace(/shares/g, '<span style="color: #69a8f0">shares</span>')
                res = res.replace(/root/g, '<span style="color: #debc5d">root</span>')
                res = res.replace(/Example/g, '<span style="color: #f0de3c">Example</span>')
                document.getElementById('help_stuff').innerHTML = res
            }
            function closeHelp(){
                document.getElementById('help_stuff').innerHTML = "<button class=\"btn btn-outline-warning my-1\" onclick=\"generateHelp()\">help</button>"
            }
            closeHelp()
        </script>

        <div>
            <form action = '/customizations' method = "get">
                <input type="submit" value="back" class="btn btn-outline-secondary my-1">
            </form>
        </div>



        {% if form_list.errors %}
            Nothing Saved.
            Errors:
            <span style="color: #8d2828">
                {% for error in form_list.errors['items']%}
                    {% if error %}
                        Row {{ loop.index }}: {{ error['alias'][0] }}
                    {% endif %}
                {% endfor %}
            </span>
        {% else %}
            <span style="color: green">
                {% for message in get_flashed_messages() %}
                  <div class="flash">{{ message }}</div>
                {% endfor %}
            </span>
        {% endif %}

	</div>
{% endblock %}