{% extends 'base.html' %}
{% from 'macros/forms.html' import render_field_list %}

{% block body %}
	<div class="container">
{#    {% load wtforms %}#}
        <form method="POST">
            {% for message in get_flashed_messages() %}
              <div class="flash">{{ message }}</div>
            {% endfor %}
						{{ render_field_list(form.items, "Add a company", "Remove this company") }}
        </form>
    </div>
{#        {% for company in companies %}#}
{#			{{ company.full_name }} <br/>#}
{#		{% endfor %}	</div>#}
{% endblock %}