{% extends 'base.html' %}
{% from 'macros/forms.html' import render_field_list %}

{% block body %}
	<div class="container">
{#    {% load wtforms %}#}
        <form method="POST">
                <span class="my-dark">{{ render_field_list(form.items, "Add a company", "Remove this company") }}</span>
            {% for message in get_flashed_messages() %}
              <div class="flash text-info">{{ message }}</div>
            {% endfor %}
            <input type="submit" value="Save" class="btn btn-outline-success my-1">
        </form>
        <div>
            <form action = '/setup' method = "get">
                <input type="submit" value="back" class="btn btn-outline-secondary my-1">
            </form>
        </div>

        <script type="text/javascript">
            window.addEventListener('keydown',function(e){if(e.keyIdentifier=='U+000A'||e.keyIdentifier=='Enter'||e.keyCode==13){if(e.target.nodeName=='INPUT'&&e.target.type=='text'){e.preventDefault();return false;}}},true);
        </script>



    </div>
{% endblock %}