{% extends 'base.html' %}

{% block body %}
	<div class="container my-dark">
        {% for message in get_flashed_messages() %}
          <div class="flash"><span style="color: yellowgreen">{{ message }}</span></div>
        {% endfor %}

        <form method="POST">
            <div class="form-group">

                Currency System: {{ setup_form.currency_system(class_="custom-select")}}<br>
                Currency Name:   {{ setup_form.currency_name }}<br>
{#                {{ form.value(class="css_class") }}#}
                <input type="submit" value="Save" class="btn btn-outline-success">
            </div>
        </form>

        <div class="form-group">
            <form action="/settings/company_names">
                <input type="submit" value="Edit Company Names" class="btn btn-outline-info">
            </form>
        </div>

        {% if currency_system and (not twitch_key or not chosen_key) %}
            <form action = '/settings/api/' method = "get">
                API Tokens not found. Please generate them.
                <input type="submit" value="generate tokens" class="btn btn-outline-success"/>
            </form>
        {% endif %}

        {% if setup_form.errors %}
            <ul class="errors">
                {% for field_name, field_errors in setup_form.errors|dictsort if field_errors %}
                    {% for error in field_errors %}
                        <li>{{ setup_form[field_name].label }}: {{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        {% endif %}

        {% if tokens_loaded %}
            <div>
                <form action = '/' method = "get">
                    <input type="submit" value="back" class="btn btn-outline-secondary">
                </form>
            </div>
        {% endif %}

        {% if setup_form.currency_system.data == 'streamlabs_local' %}
            <div class="my-1">
                Note: To be able to use Streamlabs Local Currency. Put this <a href="https://github.com/TheRealRazbi/Stocks-of-Razbia/releases/download/1.0.0/StocksOfRazbia.streamlabs.local.hook.rar">script</a>
                in the 'Scripts' tab in the ChatBot and make sure it's enabled. If you don't see the "scripts" tab, make sure to connect both your accounts and to the right channel.
            </div>
        {% endif %}


	</div>
{% endblock %}